DATABASE_NAME='p_web'
DATABASE_USERNAME='root'
DATABASE_PASSWORD='root'
DATABASE_HOST='localhost'

# Optional: sets the default "current user" for routes that need a user context
# If omitted, the API will fallback to the first user found in DB.
DEFAULT_USER_ID='1'
